<h2>New Post</h2>
<form action="/new" method="POST">
  <input name="username" type="text" class="form-control" placeholder="Your name">
  <textarea name="content" class="form-control" rows="5" placeholder="Type your text here"></textarea>

  <!-- Кнопка отправки данных -->
  <br>
  <button type="submit" class="btn btn-danger">Submit</button>
</form>
